telegram_token = "token of your telegram bot"
telegram_chatid = "chat id for sending messages"

fritzbox_user = "admin"
fritzbox_password = "your fritzbox password"

# path to the certificate file for your fritzbox (public key)
# empty or None to skip certificate verification
fritzbox_certificate = "certificate.pem"

# list of mac adresses to spy on
mac_adresses = ["mac adress1","mac_adress2"]
